.jeden
{

    background-color: RGBA(0, 0, 0, 1);
}

.dwa
{

    background-color: RGBA(0, 0, 0, 0.8);
}

.trzy
{

    background-color: RGBA(0, 0, 0, 0.6);
}

.cztery
{

    background-color: RGBA(0, 0, 0, 0.2);
}

body
{
    background-color: #f5f5dd;
}

.kwadrat
{
    width: 200px;
    height: 200px;
    margin: 10px;  
}